*{
  margin: 0px;
  border: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}
/* body{ */
  /* border: 5px solid red; */
/* } */

.headerSection{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: rgb(172, 172, 240);
}
.cente{
  display: flex;
}
.center ul li{
  list-style: none;
  display: inline;
  margin: 0px 10px;
}

.right{
  flex: 4;
  display: flex;
  /* border: 1px solid black; */
  justify-content: space-between;
  padding: 0 10px;
}
.left{
  flex: 2;
  /* border: 1px solid black; */
}
.center{
  flex: 4;
  /* border: 1px solid black; */
}
.search{
  flex: 2;
  /* border: 1px solid black; */
}
.bannerbox img{
  width: 100%;
}
.menimages{
  width: 100%;
  display: flex;

}
.menimages img{
  width: 300px;
  height: 240px;
  padding: 15px;
justify-content: space-between;
}